@namespace Dashboard
@inherits LayoutComponentBase

<div class="empty-layout">
    @Body
</div>

<style>
    .empty-layout {
        width: 100%;
    }
    @@media print {
        .empty-layout { padding: 0; margin: 0; }
    }
</style>