@namespace Dashboard.Components.Bullet
@using Dashboard

<div class="bg-purple-900/40 border border-purple-800 hover:border-purple-400 rounded mb-1 overflow-hidden cursor-pointer transition flex group" @onclick="HandleClick">
    
    @if(!string.IsNullOrEmpty(Item.ImgUrl))
    {
        <div class="relative bg-black shrink-0" style="width: @ImageWidth;">
            <img src="@Item.ImgUrl" class="w-full h-full object-cover opacity-80 group-hover:opacity-100 transition" />
        </div>
    }

    <div class="p-1 flex-1 min-w-0 flex items-center">
        <div class="truncate text-[10px] text-gray-200 group-hover:text-white transition w-full font-sans">
            <span class="mr-1">🤝</span> 
            
            <span class="font-mono text-purple-200 mr-2">
                @(Item.MeetingDetail?.StartTime?.ToString("h:mm") ?? "")
            </span>
            
            <span>@Item.Title</span>
        </div>
    </div>
</div>

@code {
    [Parameter] public BulletTaskService.TaskDTO Item { get; set; } = new();
    [Parameter] public string ImageWidth { get; set; } = "20%";
    [Parameter] public EventCallback<BulletTaskService.TaskDTO> OnClick { get; set; }

    private async Task HandleClick() => await OnClick.InvokeAsync(Item);
}