@namespace Dashboard.Components.Bullet
@using Dashboard
@using Microsoft.AspNetCore.Components.Web

<div class="text-xs px-1.5 py-1 rounded mb-1 border group relative cursor-pointer truncate transition hover:scale-105 
     @(Task.Detail.IsCompleted ? "bg-gray-800 text-gray-500 border-gray-700 line-through" : "bg-gray-700 text-gray-200 border-gray-600 hover:border-blue-400")" 
     @onclick="HandleClick" @onclick:stopPropagation="true" title="@Task.Title">
    @Task.Title
</div>

@code {
    [Parameter] public BulletTaskService.TaskDTO Task { get; set; } = new();
    [Parameter] public EventCallback<BulletTaskService.TaskDTO> OnClick { get; set; }

    private async Task HandleClick() => await OnClick.InvokeAsync(Task);
}