@page "/year-book-print-all/{Year:int}"
@using Dashboard
@using Microsoft.JSInterop
@layout EmptyLayout
@rendermode @(new Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode(prerender: false))

@inject IJSRuntime JS

<div class="print-book bg-white">
    @for (int m = 1; m <= 12; m++)
    {
        <YearBookExport Year="Year" Month="m" />
    }
</div>

<style>
    .print-book { width: 100%; }
    @@media print {
        body { margin: 0; padding: 0; }
        .print-book { display: block; }
    }
</style>

@code {
    [Parameter] public int Year { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Give 12 months of DB queries 8 seconds to settle
            await Task.Delay(8000);
            await JS.InvokeVoidAsync("print");
        }
    }
}