@page "/year-book-print-all/{Year:int}"
@using Dashboard.Components
@layout EmptyLayout
@inject IJSRuntime JS

<div class="print-all-container">
    @for (int m = 1; m <= 12; m++)
    {
        <YearBookExport Year="Year" Month="m" />
    }
</div>

@code {
    [Parameter] public int Year { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Give the data 3 seconds to load all 12 months, then trigger print
            await Task.Delay(3000);
            await JS.InvokeVoidAsync("print");
        }
    }
}